---
###############################################################################
# GRAPHQL MODULE PIPELINE
###############################################################################

include:
  - project: 'inuits/gitlab-ci/pipeline-templates'
    file: 'pipelines/applications/graphql-module-pipeline.yml'
    ref: 'v4.12.4'

variables:
  GRAPHQL_IMAGE: 'pza/dams-graphql'
  MOVE_SCHEMA: 'baseSchema.schema.ts'



